<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <img src="{{ url_for('static', filename= 'img/coding_dojo_logo_white.png') }}" alt="imagen no econtrada" style="height:50px;width:200px;margin-right:40px">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <p class="me-4" style="color:white;font-weight:bold;font-size:1.2em;margin-top:10px;">Examen Final {{sistema}}</p>
            </div>
        </div>
    </div>
</nav>